.section{
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.box_infomation{
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 8px 16px;
}
.box_infomation_payment{
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    padding: 8px 16px;
}
.grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.bt_back_payment{
    background-color: #282A35;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 30rem;
    margin-left: 0rem;
    display: block;
    width: 120px;
    height: 70px;
    border-radius: 10px;
}
.bt_next_payment{
    background-color: #282A35;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-top: 2rem;
    /* margin-right: 8rem; */
    margin-left: 90rem;
    display: block;
    width: 150px;
    height: 90px;
    border-radius: 10px;
}
.pic_payment{
    width: 500px;
    height: 650px;
}


.upload{
    
    /* color: white;
    font-size: 20px; */
    /* margin: auto; */
    margin-top: 28rem;
    /* margin: auto; */
    /* margin-bottom :-27rem; */
    /* margin-right: auto; */
    margin-left: 26rem;
    /* display: block; */
    /* width: 120px;
    height: 70px; */
    /* border-radius: 10px; */
}

.bt_reload{
    background-color: #ff6385;
    color: white;
    font-size: 20px;
    margin-top: -5.4rem;
    margin-left: 75rem;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.bt_reload_admin{
    background-color: #ff6385;
    color: white;
    font-size: 20px;
    margin: auto;
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}